cover_db
META.yml
MYMETA.yml
MYMETA.json
Makefile
blib
inc
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
MANIFEST.bak
*.sw[po]
Build
_build/
.build
_build_params
/Build
!Build/
!META.json
/Acme-PrettyCure-*
/.build
/_build_params
!LICENSE
